body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(270deg, #cef2fa 0%, #59bfef 100%);
}

input {
    margin-bottom: 6px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    background: #eee;
    width: 100%;
    max-width: 170px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
    border-radius: 5px;
    padding: 6px 15px 0 15px;
}

textarea {
    width: 100%;
    min-width: 100%;
    margin-bottom: 6px;
}

button {
    margin: 6px;
    width: 100px;
    height: 25px;
}

.hide {
    display: none;
}